body {
    background: var(--colab-primary-surface-color);
    color: var(--colab-primary-text-color);
    font-family: var(--colab-chrome-font-family);
    font-size: var(--colab-chrome-font-size);
    font-weight: 400;
    height: 100%;
    line-height: 1.24;
    margin: 0;
    overflow-y: hidden;
    --colab-dialog-bg-z-index: 1001;
    --colab-dialog-z-index: 1002;
    --mdc-button-disabled-ink-color: var(--colab-tertiary-text-color);
    --mdc-button-outline-color: var(--colab-border-color);
    --mdc-dialog-content-ink-color: var(--colab-primary-text-color);
    --mdc-dialog-heading-ink-color: var(--colab-primary-text-color);
    --mdc-dialog-z-index: var(--colab-dialog-bg-z-index);
    --mdc-text-field-disabled-fill-color: transparent;
    --mdc-text-field-disabled-ink-color: var(--colab-primary-text-color);
    --mdc-text-field-hover-line-color: var(--primary-color);
    --mdc-text-field-idle-line-color: var(--colab-primary-text-color);
    --mdc-text-field-ink-color: var(--colab-primary-text-color);
    --mdc-text-field-label-ink-color: var(--colab-input-placeholder-color);
    --mdc-theme-error: var(--colab-status-error);
    --mdc-theme-surface: var(--colab-primary-surface-color);
    --mdc-theme-text-disabled-on-light: var(--colab-tertiary-text-color);
    --mdc-theme-text-hint-on-background: var(--colab-primary-text-color);
    --mdc-theme-text-primary-on-background: var(--colab-primary-text-color);
    --mdc-theme-text-secondary-on-background: var(--colab-primary-text-color);
    --mdc-typography-body1-font-size: var(--colab-chrome-font-size);
    --mdc-typography-body1-letter-spacing: normal;
    --mdc-typography-button-letter-spacing: 0.03125em;
    --mdc-typography-button-text-transform: none;
    --mdc-typography-font-family: var(--colab-chrome-font-family);
    --mdc-typography-subtitle1-font-size: var(--colab-chrome-font-size);
    --mdc-typography-subtitle1-letter-spacing: normal;
}

body {
    transition: opacity ease-in 0.2s;
}
body {
    display: block;
    margin: 8px;
}

html[theme=dark] {
    --colab-anchor-color: var(--paper-blue-400);
    --colab-callout-color: var(--paper-blue-900);
    --code-cell-background: #1e1e1e;
    --colab-border-color: var(--paper-grey-900);
    --colab-bold-border-color: #eee;
    --colab-divider-color: var(--paper-grey-700);
    --colab-debugger-line-color: var(--paper-red-900);
    --colab-editor-focus-color: #282828;
    --colab-highlighted-surface-color: #525252;
    --colab-icon-color: var(--paper-grey-100);
    --colab-input-placeholder-color: var(--paper-grey-500);
    --colab-primary-surface-color: #383838;
    --colab-primary-text-color: #d5d5d5;
    --colab-secondary-text-color: #f7f7f7;
    --colab-tertiary-text-color: var(--paper-grey-500);
    --colab-secondary-surface-color: #454545;
    --colab-scrollbar-color: rgba(255, 255, 255, 0.2);
    --colab-gutter-icon-color: var(--paper-grey-700);
    --colab-active-execution-icon-color: var(--colab-icon-color);
    --colab-error-icon-color: var(--paper-red-400);
    --colab-title-color: #fff;
    --colab-toolbar-button-color: var(--paper-grey-200);
    --colab-form-field-underline-color: var(--paper-grey-400);
    --colab-left-pane-icon-highlight-background: #63472b;
    --colab-left-pane-section-highlight: #ffd836;
    --colab-local-diff-background: #292935;
    --colab-remote-diff-background: #2e2f08;
    --colab-merged-diff-background: #09380b;
    --ansi-black: rgb(127, 127, 127);
    --ansi-red: rgb(255, 122, 136);
    --ansi-green: rgb(87, 187, 138);
    --ansi-yellow: rgb(255, 255, 102);
    --ansi-blue: rgb(130, 177, 255);
    --ansi-magenta: rgb(205, 0, 205);
    --ansi-cyan: rgb(153, 187, 215);
    --ansi-gray: rgb(229, 229, 229);
    --ansi-bright-green: rgb(0, 255, 0);
    --error-color: var(--paper-deep-orange-a100);
    --primary-color: var(--colab-anchor-color);
    --hairline-button-primary: var(--primary-color);
    --hairline-button-secondary: var(--google-blue-300);
    --hairline-button-overlay-hovered: #42a5f50a;
    --hairline-button-disabled-label: #9e9e9e80;
    --hairline-button-disabled-container: #9e9e9e80;
}
:root {
    --sash-size: 4px;
}

html {
    --colab-code-font-family: monospace;
    --google-orange-600: #e8710a;
    --google-yellow-600: #f9ab00;
    --code-cell-background: #f7f7f7;
    --colab-anchor-color: #00e;
    --colab-border-color: #dadada;
    --colab-bold-border-color: #111;
    --colab-callout-color: var(--paper-blue-700);
    --colab-divider-color: var(--paper-grey-400);
    --colab-debugger-line-color: var(--paper-red-100);
    --colab-editor-focus-color: var(--paper-grey-200);
    --colab-highlighted-surface-color: var(--paper-grey-300);
    --colab-icon-color: var(--paper-grey-700);
    --colab-input-placeholder-color: var(--colab-secondary-text-color);
    --colab-primary-surface-color: var(--paper-white);
    --colab-primary-text-color: var(--paper-grey-900);
    --colab-secondary-text-color: #616161;
    --colab-tertiary-text-color: var(--paper-grey-600);
    --colab-secondary-surface-color: #f7f7f7;
    --colab-scrollbar-color: rgba(0, 0, 0, 0.1);
    --colab-gutter-icon-color: var(--paper-grey-400);
    --colab-active-execution-icon-color: var(--paper-grey-800);
    --colab-error-icon-color: var(--paper-red-a700);
    --colab-title-color: #000;
    --colab-toolbar-button-color: var(--paper-grey-800);
    --colab-form-field-underline-color: var(--paper-grey-600);
    --colab-left-pane-icon-highlight-background: #fff0c9;
    --colab-left-pane-section-highlight: #ffd836;
    --colab-editor-focus-border-thickness: 2px;
    --colab-local-diff-background: #eef;
    --colab-remote-diff-background: #feffe0;
    --colab-merged-diff-background: #d7fed8;
    --ansi-black: rgb(0, 0, 0);
    --ansi-red: rgb(139, 0, 0);
    --ansi-green: rgb(0, 100, 0);
    --ansi-yellow: rgb(205, 205, 0);
    --ansi-blue: rgb(0, 0, 238);
    --ansi-magenta: rgb(205, 0, 205);
    --ansi-cyan: rgb(70, 130, 180);
    --ansi-gray: rgb(229, 229, 229);
    --ansi-bright-black: rgb(127, 127, 127);
    --ansi-bright-red: rgb(255, 0, 0);
    --ansi-bright-green: rgb(0, 208, 0);
    --ansi-bright-yellow: rgb(255, 255, 0);
    --ansi-bright-blue: rgb(92, 92, 255);
    --ansi-bright-magenta: rgb(255, 0, 255);
    --ansi-bright-cyan: rgb(0, 255, 255);
    --ansi-bright-gray: rgb(255, 255, 255);
    --colab-input-border-color: #a9a9a9;
    --colab-logo-dark: var(--google-orange-600);
}
html {
    --paper-input-container-underline-wrapper-height: 0;
}
html {
    --paper-input-container-shared-input-style_-_position: relative;
    --paper-input-container-shared-input-style_-_outline: none;
    --paper-input-container-shared-input-style_-_box-shadow: none;
    --paper-input-container-shared-input-style_-_padding: 0;
    --paper-input-container-shared-input-style_-_margin: 0;
    --paper-input-container-shared-input-style_-_width: 100%;
    --paper-input-container-shared-input-style_-_max-width: 100%;
    --paper-input-container-shared-input-style_-_background: transparent;
    --paper-input-container-shared-input-style_-_border: none;
    --paper-input-container-shared-input-style_-_color: var(--paper-input-container-input-color, var(--primary-text-color));
    --paper-input-container-shared-input-style_-_-webkit-appearance: none;
    --paper-input-container-shared-input-style_-_text-align: apply-shim-inherit;
    --paper-input-container-shared-input-style_-_vertical-align: var(--paper-input-container-input-align, bottom);
    --paper-input-container-shared-input-style_-_font-family: var(--paper-font-subhead_-_font-family);
    --paper-input-container-shared-input-style_-_-webkit-font-smoothing: var(--paper-font-subhead_-_-webkit-font-smoothing);
    --paper-input-container-shared-input-style_-_font-size: var(--paper-font-subhead_-_font-size);
    --paper-input-container-shared-input-style_-_font-weight: var(--paper-font-subhead_-_font-weight);
    --paper-input-container-shared-input-style_-_line-height: var(--paper-font-subhead_-_line-height);
}
html {
    --paper-font-common-base_-_font-family: 'Roboto', 'Noto', sans-serif;
    --paper-font-common-base_-_-webkit-font-smoothing: antialiased;
    --paper-font-common-code_-_font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
    --paper-font-common-code_-_-webkit-font-smoothing: antialiased;
    --paper-font-common-expensive-kerning_-_text-rendering: optimizeLegibility;
    --paper-font-common-nowrap_-_white-space: nowrap;
    --paper-font-common-nowrap_-_overflow: hidden;
    --paper-font-common-nowrap_-_text-overflow: ellipsis;
    --paper-font-display4_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-display4_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-display4_-_white-space: var(--paper-font-common-nowrap_-_white-space);
    --paper-font-display4_-_overflow: var(--paper-font-common-nowrap_-_overflow);
    --paper-font-display4_-_text-overflow: var(--paper-font-common-nowrap_-_text-overflow);
    --paper-font-display4_-_font-size: 112px;
    --paper-font-display4_-_font-weight: 300;
    --paper-font-display4_-_letter-spacing: -.044em;
    --paper-font-display4_-_line-height: 120px;
    --paper-font-display3_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-display3_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-display3_-_white-space: var(--paper-font-common-nowrap_-_white-space);
    --paper-font-display3_-_overflow: var(--paper-font-common-nowrap_-_overflow);
    --paper-font-display3_-_text-overflow: var(--paper-font-common-nowrap_-_text-overflow);
    --paper-font-display3_-_font-size: 56px;
    --paper-font-display3_-_font-weight: 400;
    --paper-font-display3_-_letter-spacing: -.026em;
    --paper-font-display3_-_line-height: 60px;
    --paper-font-display2_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-display2_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-display2_-_font-size: 45px;
    --paper-font-display2_-_font-weight: 400;
    --paper-font-display2_-_letter-spacing: -.018em;
    --paper-font-display2_-_line-height: 48px;
    --paper-font-display1_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-display1_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-display1_-_font-size: 34px;
    --paper-font-display1_-_font-weight: 400;
    --paper-font-display1_-_letter-spacing: -.01em;
    --paper-font-display1_-_line-height: 40px;
    --paper-font-headline_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-headline_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-headline_-_font-size: 24px;
    --paper-font-headline_-_font-weight: 400;
    --paper-font-headline_-_letter-spacing: -.012em;
    --paper-font-headline_-_line-height: 32px;
    --paper-font-title_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-title_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-title_-_white-space: var(--paper-font-common-nowrap_-_white-space);
    --paper-font-title_-_overflow: var(--paper-font-common-nowrap_-_overflow);
    --paper-font-title_-_text-overflow: var(--paper-font-common-nowrap_-_text-overflow);
    --paper-font-title_-_font-size: 20px;
}
html {
    --shadow-transition_-_transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    --shadow-none_-_box-shadow: none;
    --shadow-elevation-2dp_-_box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    --shadow-elevation-3dp_-_box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
    --shadow-elevation-4dp_-_box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    --shadow-elevation-6dp_-_box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
    --shadow-elevation-8dp_-_box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    --shadow-elevation-12dp_-_box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4);
    --shadow-elevation-16dp_-_box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    --shadow-elevation-24dp_-_box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
}
<style>
 html {
     --primary-text-color: var(--light-theme-text-color);
     --primary-background-color: var(--light-theme-background-color);
     --secondary-text-color: var(--light-theme-secondary-color);
     --disabled-text-color: var(--light-theme-disabled-color);
     --divider-color: var(--light-theme-divider-color);
     --error-color: var(--paper-deep-orange-a700);
     --primary-color: var(--paper-indigo-500);
     --light-primary-color: var(--paper-indigo-100);
     --dark-primary-color: var(--paper-indigo-700);
     --accent-color: var(--paper-pink-a200);
     --light-accent-color: var(--paper-pink-a100);
     --dark-accent-color: var(--paper-pink-a400);
     --light-theme-background-color: #ffffff;
     --light-theme-base-color: #000000;
     --light-theme-text-color: var(--paper-grey-900);
     --light-theme-secondary-color: #737373;
     --light-theme-disabled-color: #9b9b9b;
     --light-theme-divider-color: #dbdbdb;
     --dark-theme-background-color: var(--paper-grey-900);
     --dark-theme-base-color: #ffffff;
     --dark-theme-text-color: #ffffff;
     --dark-theme-secondary-color: #bcbcbc;
     --dark-theme-disabled-color: #646464;
     --dark-theme-divider-color: #3c3c3c;
     --text-primary-color: var(--dark-theme-text-color);
     --default-primary-color: var(--primary-color);
 }
html {
    --google-red-100: #f4c7c3;
    --google-red-300: #e67c73;
    --google-red-500: #db4437;
    --google-red-700: #c53929;
    --google-blue-100: #c6dafc;
    --google-blue-300: #7baaf7;
    --google-blue-500: #4285f4;
    --google-blue-700: #3367d6;
    --google-green-100: #b7e1cd;
    --google-green-300: #57bb8a;
    --google-green-500: #0f9d58;
    --google-green-700: #0b8043;
    --google-yellow-100: #fce8b2;
    --google-yellow-300: #f7cb4d;
    --google-yellow-500: #f4b400;
    --google-yellow-700: #f09300;
    --google-grey-100: #f5f5f5;
    --google-grey-300: #e0e0e0;
    --google-grey-500: #9e9e9e;
    --google-grey-700: #616161;
    --paper-red-50: #ffebee;
    --paper-red-100: #ffcdd2;
    --paper-red-200: #ef9a9a;
    --paper-red-300: #e57373;
    --paper-red-400: #ef5350;
    --paper-red-500: #f44336;
    --paper-red-600: #e53935;
    --paper-red-700: #d32f2f;
    --paper-red-800: #c62828;
    --paper-red-900: #b71c1c;
    --paper-red-a100: #ff8a80;
    --paper-red-a200: #ff5252;
    --paper-red-a400: #ff1744;
    --paper-red-a700: #d50000;
    --paper-pink-50: #fce4ec;
    --paper-pink-100: #f8bbd0;
    --paper-pink-200: #f48fb1;
    --paper-pink-300: #f06292;
    --paper-pink-400: #ec407a;
    --paper-pink-500: #e91e63;
    --paper-pink-600: #d81b60;
    --paper-pink-700: #c2185b;
    --paper-pink-800: #ad1457;
    --paper-pink-900: #880e4f;
    --paper-pink-a100: #ff80ab;
    --paper-pink-a200: #ff4081;
    --paper-pink-a400: #f50057;
    --paper-pink-a700: #c51162;
    --paper-purple-50: #f3e5f5;
    --paper-purple-100: #e1bee7;
}
html {
    --layout_-_display: flex;
    --layout-inline_-_display: inline-flex;
    --layout-horizontal_-_display: var(--layout_-_display);
    --layout-horizontal_-_-ms-flex-direction: row;
    --layout-horizontal_-_-webkit-flex-direction: row;
    --layout-horizontal_-_flex-direction: row;
    --layout-horizontal-reverse_-_display: var(--layout_-_display);
    --layout-horizontal-reverse_-_-ms-flex-direction: row-reverse;
    --layout-horizontal-reverse_-_-webkit-flex-direction: row-reverse;
    --layout-horizontal-reverse_-_flex-direction: row-reverse;
    --layout-vertical_-_display: var(--layout_-_display);
    --layout-vertical_-_-ms-flex-direction: column;
    --layout-vertical_-_-webkit-flex-direction: column;
    --layout-vertical_-_flex-direction: column;
    --layout-vertical-reverse_-_display: var(--layout_-_display);
    --layout-vertical-reverse_-_-ms-flex-direction: column-reverse;
    --layout-vertical-reverse_-_-webkit-flex-direction: column-reverse;
    --layout-vertical-reverse_-_flex-direction: column-reverse;
    --layout-wrap_-_-ms-flex-wrap: wrap;
    --layout-wrap_-_-webkit-flex-wrap: wrap;
    --layout-wrap_-_flex-wrap: wrap;
    --layout-wrap-reverse_-_-ms-flex-wrap: wrap-reverse;
    --layout-wrap-reverse_-_-webkit-flex-wrap: wrap-reverse;
    --layout-wrap-reverse_-_flex-wrap: wrap-reverse;
    --layout-flex-auto_-_-ms-flex: 1 1 auto;
    --layout-flex-auto_-_-webkit-flex: 1 1 auto;
    --layout-flex-auto_-_flex: 1 1 auto;
    --layout-flex-none_-_-ms-flex: none;
    --layout-flex-none_-_-webkit-flex: none;
    --layout-flex-none_-_flex: none;
    --layout-flex_-_-ms-flex: 1 1 0.000000001px;
    --layout-flex_-_-webkit-flex: 1;
    --layout-flex_-_flex: 1;
    --layout-flex_-_-webkit-flex-basis: 0.000000001px;
    --layout-flex_-_flex-basis: 0.000000001px;
    --layout-flex-2_-_-ms-flex: 2;
    --layout-flex-2_-_-webkit-flex: 2;
    --layout-flex-2_-_flex: 2;
    --layout-flex-3_-_-ms-flex: 3;
    --layout-flex-3_-_-webkit-flex: 3;
    --layout-flex-3_-_flex: 3;
    --layout-flex-4_-_-ms-flex: 4;
    --layout-flex-4_-_-webkit-flex: 4;
    --layout-flex-4_-_flex: 4;
    --layout-flex-5_-_-ms-flex: 5;
    --layout-flex-5_-_-webkit-flex: 5;
    --layout-flex-5_-_flex: 5;
    --layout-flex-6_-_-ms-flex: 6;
    --layout-flex-6_-_-webkit-flex: 6;
    --layout-flex-6_-_flex: 6;
}
html {
    --colab-run-button-transition-time: 250ms;
}
html {
    --paper-blue-200: #90caf9;
    --paper-blue-400: #42a5f5;
    --paper-blue-500: #2196f3;
    --paper-blue-700: #1976d2;
    --paper-blue-900: #0d47a1;
    --paper-blue-a100: #82b1ff;
    --paper-blue-a200: #448aff;
    --paper-blue-a400: #2979ff;
    --paper-blue-a700: #2962ff;
    --paper-orange-50: #fff3e0;
    --paper-orange-100: #ffe0b2;
    --paper-orange-200: #ffcc80;
    --paper-orange-300: #ffb74d;
    --paper-orange-400: #ffa726;
    --paper-orange-500: #ff9800;
    --paper-orange-700: #f57c00;
    --paper-grey-50: #fafafa;
    --paper-grey-100: #f5f5f5;
    --paper-grey-200: #eeeeee;
    --paper-grey-300: #e0e0e0;
    --paper-grey-400: #bdbdbd;
    --paper-grey-500: #9e9e9e;
    --paper-grey-600: #757575;
    --paper-grey-700: #616161;
    --paper-grey-800: #424242;
    --paper-grey-900: #212121;
    --paper-red-100: #ffcdd2;
    --paper-red-a700: #d50000;
    --paper-green-a700: #00c853;
    --paper-white: #ffffff;
    --google-blue-500: #4285f4;
    --box-shadow-elevation-2dp: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    --box-shadow-elevation-3dp: 0 3px 4px 0 rgba(0,0,0,0.14),0 1px 8px 0 rgba(0,0,0,0.12),0 3px 3px -2px rgba(0,0,0,0.4);
    --paper-font-subhead-font-size: 16px;
    --paper-font-subhead-font-weight: 400;
    --paper-font-subhead-line-height: 24px;
    --paper-font-body1-font-weight: 400;
    --paper-font-body1-line-height: 20px;
}

body {
    background: var(--colab-primary-surface-color);
    color: var(--colab-primary-text-color);
    font-family: var(--colab-chrome-font-family);
    font-size: var(--colab-chrome-font-size);
    font-weight: 400;
    height: 100%;
    line-height: 1.24;
    margin: 0;
    overflow-y: hidden;
    --colab-dialog-bg-z-index: 1001;
    --colab-dialog-z-index: 1002;
    --mdc-button-disabled-ink-color: var(--colab-tertiary-text-color);
    --mdc-button-outline-color: var(--colab-border-color);
    --mdc-dialog-content-ink-color: var(--colab-primary-text-color);
    --mdc-dialog-heading-ink-color: var(--colab-primary-text-color);
    --mdc-dialog-z-index: var(--colab-dialog-bg-z-index);
    --mdc-text-field-disabled-fill-color: transparent;
    --mdc-text-field-disabled-ink-color: var(--colab-primary-text-color);
    --mdc-text-field-hover-line-color: var(--primary-color);
    --mdc-text-field-idle-line-color: var(--colab-primary-text-color);
    --mdc-text-field-ink-color: var(--colab-primary-text-color);
    --mdc-text-field-label-ink-color: var(--colab-input-placeholder-color);
    --mdc-theme-error: var(--colab-status-error);
    --mdc-theme-surface: var(--colab-primary-surface-color);
    --mdc-theme-text-disabled-on-light: var(--colab-tertiary-text-color);
    --mdc-theme-text-hint-on-background: var(--colab-primary-text-color);
    --mdc-theme-text-primary-on-background: var(--colab-primary-text-color);
    --mdc-theme-text-secondary-on-background: var(--colab-primary-text-color);
    --mdc-typography-body1-font-size: var(--colab-chrome-font-size);
    --mdc-typography-body1-letter-spacing: normal;
    --mdc-typography-button-letter-spacing: 0.03125em;
    --mdc-typography-button-text-transform: none;
    --mdc-typography-font-family: var(--colab-chrome-font-family);
    --mdc-typography-subtitle1-font-size: var(--colab-chrome-font-size);
    --mdc-typography-subtitle1-letter-spacing: normal;
}

body {
    transition: opacity ease-in 0.2s;
}
body {
    display: block;
    margin: 8px;
}

html[theme=dark] {
    --colab-anchor-color: var(--paper-blue-400);
    --colab-callout-color: var(--paper-blue-900);
    --code-cell-background: #1e1e1e;
    --colab-border-color: var(--paper-grey-900);
    --colab-bold-border-color: #eee;
    --colab-divider-color: var(--paper-grey-700);
    --colab-debugger-line-color: var(--paper-red-900);
    --colab-editor-focus-color: #282828;
    --colab-highlighted-surface-color: #525252;
    --colab-icon-color: var(--paper-grey-100);
    --colab-input-placeholder-color: var(--paper-grey-500);
    --colab-primary-surface-color: #383838;
    --colab-primary-text-color: #d5d5d5;
    --colab-secondary-text-color: #f7f7f7;
    --colab-tertiary-text-color: var(--paper-grey-500);
    --colab-secondary-surface-color: #454545;
    --colab-scrollbar-color: rgba(255, 255, 255, 0.2);
    --colab-gutter-icon-color: var(--paper-grey-700);
    --colab-active-execution-icon-color: var(--colab-icon-color);
    --colab-error-icon-color: var(--paper-red-400);
    --colab-title-color: #fff;
    --colab-toolbar-button-color: var(--paper-grey-200);
    --colab-form-field-underline-color: var(--paper-grey-400);
    --colab-left-pane-icon-highlight-background: #63472b;
    --colab-left-pane-section-highlight: #ffd836;
    --colab-local-diff-background: #292935;
    --colab-remote-diff-background: #2e2f08;
    --colab-merged-diff-background: #09380b;
    --ansi-black: rgb(127, 127, 127);
    --ansi-red: rgb(255, 122, 136);
    --ansi-green: rgb(87, 187, 138);
    --ansi-yellow: rgb(255, 255, 102);
    --ansi-blue: rgb(130, 177, 255);
    --ansi-magenta: rgb(205, 0, 205);
    --ansi-cyan: rgb(153, 187, 215);
    --ansi-gray: rgb(229, 229, 229);
    --ansi-bright-green: rgb(0, 255, 0);
    --error-color: var(--paper-deep-orange-a100);
    --primary-color: var(--colab-anchor-color);
    --hairline-button-primary: var(--primary-color);
    --hairline-button-secondary: var(--google-blue-300);
    --hairline-button-overlay-hovered: #42a5f50a;
    --hairline-button-disabled-label: #9e9e9e80;
    --hairline-button-disabled-container: #9e9e9e80;
}
:root {
    --sash-size: 4px;
}

html {
    --colab-code-font-family: monospace;
    --google-orange-600: #e8710a;
    --google-yellow-600: #f9ab00;
    --code-cell-background: #f7f7f7;
    --colab-anchor-color: #00e;
    --colab-border-color: #dadada;
    --colab-bold-border-color: #111;
    --colab-callout-color: var(--paper-blue-700);
    --colab-divider-color: var(--paper-grey-400);
    --colab-debugger-line-color: var(--paper-red-100);
    --colab-editor-focus-color: var(--paper-grey-200);
    --colab-highlighted-surface-color: var(--paper-grey-300);
    --colab-icon-color: var(--paper-grey-700);
    --colab-input-placeholder-color: var(--colab-secondary-text-color);
    --colab-primary-surface-color: var(--paper-white);
    --colab-primary-text-color: var(--paper-grey-900);
    --colab-secondary-text-color: #616161;
    --colab-tertiary-text-color: var(--paper-grey-600);
    --colab-secondary-surface-color: #f7f7f7;
    --colab-scrollbar-color: rgba(0, 0, 0, 0.1);
    --colab-gutter-icon-color: var(--paper-grey-400);
    --colab-active-execution-icon-color: var(--paper-grey-800);
    --colab-error-icon-color: var(--paper-red-a700);
    --colab-title-color: #000;
    --colab-toolbar-button-color: var(--paper-grey-800);
    --colab-form-field-underline-color: var(--paper-grey-600);
    --colab-left-pane-icon-highlight-background: #fff0c9;
    --colab-left-pane-section-highlight: #ffd836;
    --colab-editor-focus-border-thickness: 2px;
    --colab-local-diff-background: #eef;
    --colab-remote-diff-background: #feffe0;
    --colab-merged-diff-background: #d7fed8;
    --ansi-black: rgb(0, 0, 0);
    --ansi-red: rgb(139, 0, 0);
    --ansi-green: rgb(0, 100, 0);
    --ansi-yellow: rgb(205, 205, 0);
    --ansi-blue: rgb(0, 0, 238);
    --ansi-magenta: rgb(205, 0, 205);
    --ansi-cyan: rgb(70, 130, 180);
    --ansi-gray: rgb(229, 229, 229);
    --ansi-bright-black: rgb(127, 127, 127);
    --ansi-bright-red: rgb(255, 0, 0);
    --ansi-bright-green: rgb(0, 208, 0);
    --ansi-bright-yellow: rgb(255, 255, 0);
    --ansi-bright-blue: rgb(92, 92, 255);
    --ansi-bright-magenta: rgb(255, 0, 255);
    --ansi-bright-cyan: rgb(0, 255, 255);
    --ansi-bright-gray: rgb(255, 255, 255);
    --colab-input-border-color: #a9a9a9;
    --colab-logo-dark: var(--google-orange-600);
}
html {
    --paper-input-container-underline-wrapper-height: 0;
}
html {
    --paper-input-container-shared-input-style_-_position: relative;
    --paper-input-container-shared-input-style_-_outline: none;
    --paper-input-container-shared-input-style_-_box-shadow: none;
    --paper-input-container-shared-input-style_-_padding: 0;
    --paper-input-container-shared-input-style_-_margin: 0;
    --paper-input-container-shared-input-style_-_width: 100%;
    --paper-input-container-shared-input-style_-_max-width: 100%;
    --paper-input-container-shared-input-style_-_background: transparent;
    --paper-input-container-shared-input-style_-_border: none;
    --paper-input-container-shared-input-style_-_color: var(--paper-input-container-input-color, var(--primary-text-color));
    --paper-input-container-shared-input-style_-_-webkit-appearance: none;
    --paper-input-container-shared-input-style_-_text-align: apply-shim-inherit;
    --paper-input-container-shared-input-style_-_vertical-align: var(--paper-input-container-input-align, bottom);
    --paper-input-container-shared-input-style_-_font-family: var(--paper-font-subhead_-_font-family);
    --paper-input-container-shared-input-style_-_-webkit-font-smoothing: var(--paper-font-subhead_-_-webkit-font-smoothing);
    --paper-input-container-shared-input-style_-_font-size: var(--paper-font-subhead_-_font-size);
    --paper-input-container-shared-input-style_-_font-weight: var(--paper-font-subhead_-_font-weight);
    --paper-input-container-shared-input-style_-_line-height: var(--paper-font-subhead_-_line-height);
}
html {
    --paper-font-common-base_-_font-family: 'Roboto', 'Noto', sans-serif;
    --paper-font-common-base_-_-webkit-font-smoothing: antialiased;
    --paper-font-common-code_-_font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
    --paper-font-common-code_-_-webkit-font-smoothing: antialiased;
    --paper-font-common-expensive-kerning_-_text-rendering: optimizeLegibility;
    --paper-font-common-nowrap_-_white-space: nowrap;
    --paper-font-common-nowrap_-_overflow: hidden;
    --paper-font-common-nowrap_-_text-overflow: ellipsis;
    --paper-font-display4_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-display4_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-display4_-_white-space: var(--paper-font-common-nowrap_-_white-space);
    --paper-font-display4_-_overflow: var(--paper-font-common-nowrap_-_overflow);
    --paper-font-display4_-_text-overflow: var(--paper-font-common-nowrap_-_text-overflow);
    --paper-font-display4_-_font-size: 112px;
    --paper-font-display4_-_font-weight: 300;
    --paper-font-display4_-_letter-spacing: -.044em;
    --paper-font-display4_-_line-height: 120px;
    --paper-font-display3_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-display3_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-display3_-_white-space: var(--paper-font-common-nowrap_-_white-space);
    --paper-font-display3_-_overflow: var(--paper-font-common-nowrap_-_overflow);
    --paper-font-display3_-_text-overflow: var(--paper-font-common-nowrap_-_text-overflow);
    --paper-font-display3_-_font-size: 56px;
    --paper-font-display3_-_font-weight: 400;
    --paper-font-display3_-_letter-spacing: -.026em;
    --paper-font-display3_-_line-height: 60px;
    --paper-font-display2_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-display2_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-display2_-_font-size: 45px;
    --paper-font-display2_-_font-weight: 400;
    --paper-font-display2_-_letter-spacing: -.018em;
    --paper-font-display2_-_line-height: 48px;
    --paper-font-display1_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-display1_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-display1_-_font-size: 34px;
    --paper-font-display1_-_font-weight: 400;
    --paper-font-display1_-_letter-spacing: -.01em;
    --paper-font-display1_-_line-height: 40px;
    --paper-font-headline_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-headline_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-headline_-_font-size: 24px;
    --paper-font-headline_-_font-weight: 400;
    --paper-font-headline_-_letter-spacing: -.012em;
    --paper-font-headline_-_line-height: 32px;
    --paper-font-title_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-title_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-title_-_white-space: var(--paper-font-common-nowrap_-_white-space);
    --paper-font-title_-_overflow: var(--paper-font-common-nowrap_-_overflow);
    --paper-font-title_-_text-overflow: var(--paper-font-common-nowrap_-_text-overflow);
    --paper-font-title_-_font-size: 20px;
}
html {
    --shadow-transition_-_transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    --shadow-none_-_box-shadow: none;
    --shadow-elevation-2dp_-_box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    --shadow-elevation-3dp_-_box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
    --shadow-elevation-4dp_-_box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    --shadow-elevation-6dp_-_box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
    --shadow-elevation-8dp_-_box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    --shadow-elevation-12dp_-_box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4);
    --shadow-elevation-16dp_-_box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    --shadow-elevation-24dp_-_box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
}
<style>
 html {
     --primary-text-color: var(--light-theme-text-color);
     --primary-background-color: var(--light-theme-background-color);
     --secondary-text-color: var(--light-theme-secondary-color);
     --disabled-text-color: var(--light-theme-disabled-color);
     --divider-color: var(--light-theme-divider-color);
     --error-color: var(--paper-deep-orange-a700);
     --primary-color: var(--paper-indigo-500);
     --light-primary-color: var(--paper-indigo-100);
     --dark-primary-color: var(--paper-indigo-700);
     --accent-color: var(--paper-pink-a200);
     --light-accent-color: var(--paper-pink-a100);
     --dark-accent-color: var(--paper-pink-a400);
     --light-theme-background-color: #ffffff;
     --light-theme-base-color: #000000;
     --light-theme-text-color: var(--paper-grey-900);
     --light-theme-secondary-color: #737373;
     --light-theme-disabled-color: #9b9b9b;
     --light-theme-divider-color: #dbdbdb;
     --dark-theme-background-color: var(--paper-grey-900);
     --dark-theme-base-color: #ffffff;
     --dark-theme-text-color: #ffffff;
     --dark-theme-secondary-color: #bcbcbc;
     --dark-theme-disabled-color: #646464;
     --dark-theme-divider-color: #3c3c3c;
     --text-primary-color: var(--dark-theme-text-color);
     --default-primary-color: var(--primary-color);
 }
html {
    --google-red-100: #f4c7c3;
    --google-red-300: #e67c73;
    --google-red-500: #db4437;
    --google-red-700: #c53929;
    --google-blue-100: #c6dafc;
    --google-blue-300: #7baaf7;
    --google-blue-500: #4285f4;
    --google-blue-700: #3367d6;
    --google-green-100: #b7e1cd;
    --google-green-300: #57bb8a;
    --google-green-500: #0f9d58;
    --google-green-700: #0b8043;
    --google-yellow-100: #fce8b2;
    --google-yellow-300: #f7cb4d;
    --google-yellow-500: #f4b400;
    --google-yellow-700: #f09300;
    --google-grey-100: #f5f5f5;
    --google-grey-300: #e0e0e0;
    --google-grey-500: #9e9e9e;
    --google-grey-700: #616161;
    --paper-red-50: #ffebee;
    --paper-red-100: #ffcdd2;
    --paper-red-200: #ef9a9a;
    --paper-red-300: #e57373;
    --paper-red-400: #ef5350;
    --paper-red-500: #f44336;
    --paper-red-600: #e53935;
    --paper-red-700: #d32f2f;
    --paper-red-800: #c62828;
    --paper-red-900: #b71c1c;
    --paper-red-a100: #ff8a80;
    --paper-red-a200: #ff5252;
    --paper-red-a400: #ff1744;
    --paper-red-a700: #d50000;
    --paper-pink-50: #fce4ec;
    --paper-pink-100: #f8bbd0;
    --paper-pink-200: #f48fb1;
    --paper-pink-300: #f06292;
    --paper-pink-400: #ec407a;
    --paper-pink-500: #e91e63;
    --paper-pink-600: #d81b60;
    --paper-pink-700: #c2185b;
    --paper-pink-800: #ad1457;
    --paper-pink-900: #880e4f;
    --paper-pink-a100: #ff80ab;
    --paper-pink-a200: #ff4081;
    --paper-pink-a400: #f50057;
    --paper-pink-a700: #c51162;
    --paper-purple-50: #f3e5f5;
    --paper-purple-100: #e1bee7;
}
html {
    --layout_-_display: flex;
    --layout-inline_-_display: inline-flex;
    --layout-horizontal_-_display: var(--layout_-_display);
    --layout-horizontal_-_-ms-flex-direction: row;
    --layout-horizontal_-_-webkit-flex-direction: row;
    --layout-horizontal_-_flex-direction: row;
    --layout-horizontal-reverse_-_display: var(--layout_-_display);
    --layout-horizontal-reverse_-_-ms-flex-direction: row-reverse;
    --layout-horizontal-reverse_-_-webkit-flex-direction: row-reverse;
    --layout-horizontal-reverse_-_flex-direction: row-reverse;
    --layout-vertical_-_display: var(--layout_-_display);
    --layout-vertical_-_-ms-flex-direction: column;
    --layout-vertical_-_-webkit-flex-direction: column;
    --layout-vertical_-_flex-direction: column;
    --layout-vertical-reverse_-_display: var(--layout_-_display);
    --layout-vertical-reverse_-_-ms-flex-direction: column-reverse;
    --layout-vertical-reverse_-_-webkit-flex-direction: column-reverse;
    --layout-vertical-reverse_-_flex-direction: column-reverse;
    --layout-wrap_-_-ms-flex-wrap: wrap;
    --layout-wrap_-_-webkit-flex-wrap: wrap;
    --layout-wrap_-_flex-wrap: wrap;
    --layout-wrap-reverse_-_-ms-flex-wrap: wrap-reverse;
    --layout-wrap-reverse_-_-webkit-flex-wrap: wrap-reverse;
    --layout-wrap-reverse_-_flex-wrap: wrap-reverse;
    --layout-flex-auto_-_-ms-flex: 1 1 auto;
    --layout-flex-auto_-_-webkit-flex: 1 1 auto;
    --layout-flex-auto_-_flex: 1 1 auto;
    --layout-flex-none_-_-ms-flex: none;
    --layout-flex-none_-_-webkit-flex: none;
    --layout-flex-none_-_flex: none;
    --layout-flex_-_-ms-flex: 1 1 0.000000001px;
    --layout-flex_-_-webkit-flex: 1;
    --layout-flex_-_flex: 1;
    --layout-flex_-_-webkit-flex-basis: 0.000000001px;
    --layout-flex_-_flex-basis: 0.000000001px;
    --layout-flex-2_-_-ms-flex: 2;
    --layout-flex-2_-_-webkit-flex: 2;
    --layout-flex-2_-_flex: 2;
    --layout-flex-3_-_-ms-flex: 3;
    --layout-flex-3_-_-webkit-flex: 3;
    --layout-flex-3_-_flex: 3;
    --layout-flex-4_-_-ms-flex: 4;
    --layout-flex-4_-_-webkit-flex: 4;
    --layout-flex-4_-_flex: 4;
    --layout-flex-5_-_-ms-flex: 5;
    --layout-flex-5_-_-webkit-flex: 5;
    --layout-flex-5_-_flex: 5;
    --layout-flex-6_-_-ms-flex: 6;
    --layout-flex-6_-_-webkit-flex: 6;
    --layout-flex-6_-_flex: 6;
}
html {
    --colab-run-button-transition-time: 250ms;
}
html {
    --paper-blue-200: #90caf9;
    --paper-blue-400: #42a5f5;
    --paper-blue-500: #2196f3;
    --paper-blue-700: #1976d2;
    --paper-blue-900: #0d47a1;
    --paper-blue-a100: #82b1ff;
    --paper-blue-a200: #448aff;
    --paper-blue-a400: #2979ff;
    --paper-blue-a700: #2962ff;
    --paper-orange-50: #fff3e0;
    --paper-orange-100: #ffe0b2;
    --paper-orange-200: #ffcc80;
    --paper-orange-300: #ffb74d;
    --paper-orange-400: #ffa726;
    --paper-orange-500: #ff9800;
    --paper-orange-700: #f57c00;
    --paper-grey-50: #fafafa;
    --paper-grey-100: #f5f5f5;
    --paper-grey-200: #eeeeee;
    --paper-grey-300: #e0e0e0;
    --paper-grey-400: #bdbdbd;
    --paper-grey-500: #9e9e9e;
    --paper-grey-600: #757575;
    --paper-grey-700: #616161;
    --paper-grey-800: #424242;
    --paper-grey-900: #212121;
    --paper-red-100: #ffcdd2;
    --paper-red-a700: #d50000;
    --paper-green-a700: #00c853;
    --paper-white: #ffffff;
    --google-blue-500: #4285f4;
    --box-shadow-elevation-2dp: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    --box-shadow-elevation-3dp: 0 3px 4px 0 rgba(0,0,0,0.14),0 1px 8px 0 rgba(0,0,0,0.12),0 3px 3px -2px rgba(0,0,0,0.4);
    --paper-font-subhead-font-size: 16px;
    --paper-font-subhead-font-weight: 400;
    --paper-font-subhead-line-height: 24px;
    --paper-font-body1-font-weight: 400;
    --paper-font-body1-line-height: 20px;
}
body {
    background: var(--colab-primary-surface-color);
    color: var(--colab-primary-text-color);
    font-family: var(--colab-chrome-font-family);
    font-size: var(--colab-chrome-font-size);
    font-weight: 400;
    height: 100%;
    line-height: 1.24;
    margin: 0;
    overflow-y: hidden;
    --colab-dialog-bg-z-index: 1001;
    --colab-dialog-z-index: 1002;
    --mdc-button-disabled-ink-color: var(--colab-tertiary-text-color);
    --mdc-button-outline-color: var(--colab-border-color);
    --mdc-dialog-content-ink-color: var(--colab-primary-text-color);
    --mdc-dialog-heading-ink-color: var(--colab-primary-text-color);
    --mdc-dialog-z-index: var(--colab-dialog-bg-z-index);
    --mdc-text-field-disabled-fill-color: transparent;
    --mdc-text-field-disabled-ink-color: var(--colab-primary-text-color);
    --mdc-text-field-hover-line-color: var(--primary-color);
    --mdc-text-field-idle-line-color: var(--colab-primary-text-color);
    --mdc-text-field-ink-color: var(--colab-primary-text-color);
    --mdc-text-field-label-ink-color: var(--colab-input-placeholder-color);
    --mdc-theme-error: var(--colab-status-error);
    --mdc-theme-surface: var(--colab-primary-surface-color);
    --mdc-theme-text-disabled-on-light: var(--colab-tertiary-text-color);
    --mdc-theme-text-hint-on-background: var(--colab-primary-text-color);
    --mdc-theme-text-primary-on-background: var(--colab-primary-text-color);
    --mdc-theme-text-secondary-on-background: var(--colab-primary-text-color);
    --mdc-typography-body1-font-size: var(--colab-chrome-font-size);
    --mdc-typography-body1-letter-spacing: normal;
    --mdc-typography-button-letter-spacing: 0.03125em;
    --mdc-typography-button-text-transform: none;
    --mdc-typography-font-family: var(--colab-chrome-font-family);
    --mdc-typography-subtitle1-font-size: var(--colab-chrome-font-size);
    --mdc-typography-subtitle1-letter-spacing: normal;
}

body {
    transition: opacity ease-in 0.2s;
}
body {
    display: block;
    margin: 8px;
}

html[theme=dark] {
    --colab-anchor-color: var(--paper-blue-400);
    --colab-callout-color: var(--paper-blue-900);
    --code-cell-background: #1e1e1e;
    --colab-border-color: var(--paper-grey-900);
    --colab-bold-border-color: #eee;
    --colab-divider-color: var(--paper-grey-700);
    --colab-debugger-line-color: var(--paper-red-900);
    --colab-editor-focus-color: #282828;
    --colab-highlighted-surface-color: #525252;
    --colab-icon-color: var(--paper-grey-100);
    --colab-input-placeholder-color: var(--paper-grey-500);
    --colab-primary-surface-color: #383838;
    --colab-primary-text-color: #d5d5d5;
    --colab-secondary-text-color: #f7f7f7;
    --colab-tertiary-text-color: var(--paper-grey-500);
    --colab-secondary-surface-color: #454545;
    --colab-scrollbar-color: rgba(255, 255, 255, 0.2);
    --colab-gutter-icon-color: var(--paper-grey-700);
    --colab-active-execution-icon-color: var(--colab-icon-color);
    --colab-error-icon-color: var(--paper-red-400);
    --colab-title-color: #fff;
    --colab-toolbar-button-color: var(--paper-grey-200);
    --colab-form-field-underline-color: var(--paper-grey-400);
    --colab-left-pane-icon-highlight-background: #63472b;
    --colab-left-pane-section-highlight: #ffd836;
    --colab-local-diff-background: #292935;
    --colab-remote-diff-background: #2e2f08;
    --colab-merged-diff-background: #09380b;
    --ansi-black: rgb(127, 127, 127);
    --ansi-red: rgb(255, 122, 136);
    --ansi-green: rgb(87, 187, 138);
    --ansi-yellow: rgb(255, 255, 102);
    --ansi-blue: rgb(130, 177, 255);
    --ansi-magenta: rgb(205, 0, 205);
    --ansi-cyan: rgb(153, 187, 215);
    --ansi-gray: rgb(229, 229, 229);
    --ansi-bright-green: rgb(0, 255, 0);
    --error-color: var(--paper-deep-orange-a100);
    --primary-color: var(--colab-anchor-color);
    --hairline-button-primary: var(--primary-color);
    --hairline-button-secondary: var(--google-blue-300);
    --hairline-button-overlay-hovered: #42a5f50a;
    --hairline-button-disabled-label: #9e9e9e80;
    --hairline-button-disabled-container: #9e9e9e80;
}
:root {
    --sash-size: 4px;
}

html {
    --colab-code-font-family: monospace;
    --google-orange-600: #e8710a;
    --google-yellow-600: #f9ab00;
    --code-cell-background: #f7f7f7;
    --colab-anchor-color: #00e;
    --colab-border-color: #dadada;
    --colab-bold-border-color: #111;
    --colab-callout-color: var(--paper-blue-700);
    --colab-divider-color: var(--paper-grey-400);
    --colab-debugger-line-color: var(--paper-red-100);
    --colab-editor-focus-color: var(--paper-grey-200);
    --colab-highlighted-surface-color: var(--paper-grey-300);
    --colab-icon-color: var(--paper-grey-700);
    --colab-input-placeholder-color: var(--colab-secondary-text-color);
    --colab-primary-surface-color: var(--paper-white);
    --colab-primary-text-color: var(--paper-grey-900);
    --colab-secondary-text-color: #616161;
    --colab-tertiary-text-color: var(--paper-grey-600);
    --colab-secondary-surface-color: #f7f7f7;
    --colab-scrollbar-color: rgba(0, 0, 0, 0.1);
    --colab-gutter-icon-color: var(--paper-grey-400);
    --colab-active-execution-icon-color: var(--paper-grey-800);
    --colab-error-icon-color: var(--paper-red-a700);
    --colab-title-color: #000;
    --colab-toolbar-button-color: var(--paper-grey-800);
    --colab-form-field-underline-color: var(--paper-grey-600);
    --colab-left-pane-icon-highlight-background: #fff0c9;
    --colab-left-pane-section-highlight: #ffd836;
    --colab-editor-focus-border-thickness: 2px;
    --colab-local-diff-background: #eef;
    --colab-remote-diff-background: #feffe0;
    --colab-merged-diff-background: #d7fed8;
    --ansi-black: rgb(0, 0, 0);
    --ansi-red: rgb(139, 0, 0);
    --ansi-green: rgb(0, 100, 0);
    --ansi-yellow: rgb(205, 205, 0);
    --ansi-blue: rgb(0, 0, 238);
    --ansi-magenta: rgb(205, 0, 205);
    --ansi-cyan: rgb(70, 130, 180);
    --ansi-gray: rgb(229, 229, 229);
    --ansi-bright-black: rgb(127, 127, 127);
    --ansi-bright-red: rgb(255, 0, 0);
    --ansi-bright-green: rgb(0, 208, 0);
    --ansi-bright-yellow: rgb(255, 255, 0);
    --ansi-bright-blue: rgb(92, 92, 255);
    --ansi-bright-magenta: rgb(255, 0, 255);
    --ansi-bright-cyan: rgb(0, 255, 255);
    --ansi-bright-gray: rgb(255, 255, 255);
    --colab-input-border-color: #a9a9a9;
    --colab-logo-dark: var(--google-orange-600);
}
html {
    --paper-input-container-underline-wrapper-height: 0;
}
html {
    --paper-input-container-shared-input-style_-_position: relative;
    --paper-input-container-shared-input-style_-_outline: none;
    --paper-input-container-shared-input-style_-_box-shadow: none;
    --paper-input-container-shared-input-style_-_padding: 0;
    --paper-input-container-shared-input-style_-_margin: 0;
    --paper-input-container-shared-input-style_-_width: 100%;
    --paper-input-container-shared-input-style_-_max-width: 100%;
    --paper-input-container-shared-input-style_-_background: transparent;
    --paper-input-container-shared-input-style_-_border: none;
    --paper-input-container-shared-input-style_-_color: var(--paper-input-container-input-color, var(--primary-text-color));
    --paper-input-container-shared-input-style_-_-webkit-appearance: none;
    --paper-input-container-shared-input-style_-_text-align: apply-shim-inherit;
    --paper-input-container-shared-input-style_-_vertical-align: var(--paper-input-container-input-align, bottom);
    --paper-input-container-shared-input-style_-_font-family: var(--paper-font-subhead_-_font-family);
    --paper-input-container-shared-input-style_-_-webkit-font-smoothing: var(--paper-font-subhead_-_-webkit-font-smoothing);
    --paper-input-container-shared-input-style_-_font-size: var(--paper-font-subhead_-_font-size);
    --paper-input-container-shared-input-style_-_font-weight: var(--paper-font-subhead_-_font-weight);
    --paper-input-container-shared-input-style_-_line-height: var(--paper-font-subhead_-_line-height);
}
html {
    --paper-font-common-base_-_font-family: 'Roboto', 'Noto', sans-serif;
    --paper-font-common-base_-_-webkit-font-smoothing: antialiased;
    --paper-font-common-code_-_font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
    --paper-font-common-code_-_-webkit-font-smoothing: antialiased;
    --paper-font-common-expensive-kerning_-_text-rendering: optimizeLegibility;
    --paper-font-common-nowrap_-_white-space: nowrap;
    --paper-font-common-nowrap_-_overflow: hidden;
    --paper-font-common-nowrap_-_text-overflow: ellipsis;
    --paper-font-display4_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-display4_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-display4_-_white-space: var(--paper-font-common-nowrap_-_white-space);
    --paper-font-display4_-_overflow: var(--paper-font-common-nowrap_-_overflow);
    --paper-font-display4_-_text-overflow: var(--paper-font-common-nowrap_-_text-overflow);
    --paper-font-display4_-_font-size: 112px;
    --paper-font-display4_-_font-weight: 300;
    --paper-font-display4_-_letter-spacing: -.044em;
    --paper-font-display4_-_line-height: 120px;
    --paper-font-display3_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-display3_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-display3_-_white-space: var(--paper-font-common-nowrap_-_white-space);
    --paper-font-display3_-_overflow: var(--paper-font-common-nowrap_-_overflow);
    --paper-font-display3_-_text-overflow: var(--paper-font-common-nowrap_-_text-overflow);
    --paper-font-display3_-_font-size: 56px;
    --paper-font-display3_-_font-weight: 400;
    --paper-font-display3_-_letter-spacing: -.026em;
    --paper-font-display3_-_line-height: 60px;
    --paper-font-display2_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-display2_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-display2_-_font-size: 45px;
    --paper-font-display2_-_font-weight: 400;
    --paper-font-display2_-_letter-spacing: -.018em;
    --paper-font-display2_-_line-height: 48px;
    --paper-font-display1_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-display1_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-display1_-_font-size: 34px;
    --paper-font-display1_-_font-weight: 400;
    --paper-font-display1_-_letter-spacing: -.01em;
    --paper-font-display1_-_line-height: 40px;
    --paper-font-headline_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-headline_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-headline_-_font-size: 24px;
    --paper-font-headline_-_font-weight: 400;
    --paper-font-headline_-_letter-spacing: -.012em;
    --paper-font-headline_-_line-height: 32px;
    --paper-font-title_-_font-family: var(--paper-font-common-base_-_font-family);
    --paper-font-title_-_-webkit-font-smoothing: var(--paper-font-common-base_-_-webkit-font-smoothing);
    --paper-font-title_-_white-space: var(--paper-font-common-nowrap_-_white-space);
    --paper-font-title_-_overflow: var(--paper-font-common-nowrap_-_overflow);
    --paper-font-title_-_text-overflow: var(--paper-font-common-nowrap_-_text-overflow);
    --paper-font-title_-_font-size: 20px;
}
html {
    --shadow-transition_-_transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    --shadow-none_-_box-shadow: none;
    --shadow-elevation-2dp_-_box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    --shadow-elevation-3dp_-_box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
    --shadow-elevation-4dp_-_box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    --shadow-elevation-6dp_-_box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
    --shadow-elevation-8dp_-_box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    --shadow-elevation-12dp_-_box-shadow: 0 12px 16px 1px rgba(0, 0, 0, 0.14), 0 4px 22px 3px rgba(0, 0, 0, 0.12), 0 6px 7px -4px rgba(0, 0, 0, 0.4);
    --shadow-elevation-16dp_-_box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    --shadow-elevation-24dp_-_box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4);
}
<style>
 html {
     --primary-text-color: var(--light-theme-text-color);
     --primary-background-color: var(--light-theme-background-color);
     --secondary-text-color: var(--light-theme-secondary-color);
     --disabled-text-color: var(--light-theme-disabled-color);
     --divider-color: var(--light-theme-divider-color);
     --error-color: var(--paper-deep-orange-a700);
     --primary-color: var(--paper-indigo-500);
     --light-primary-color: var(--paper-indigo-100);
     --dark-primary-color: var(--paper-indigo-700);
     --accent-color: var(--paper-pink-a200);
     --light-accent-color: var(--paper-pink-a100);
     --dark-accent-color: var(--paper-pink-a400);
     --light-theme-background-color: #ffffff;
     --light-theme-base-color: #000000;
     --light-theme-text-color: var(--paper-grey-900);
     --light-theme-secondary-color: #737373;
     --light-theme-disabled-color: #9b9b9b;
     --light-theme-divider-color: #dbdbdb;
     --dark-theme-background-color: var(--paper-grey-900);
     --dark-theme-base-color: #ffffff;
     --dark-theme-text-color: #ffffff;
     --dark-theme-secondary-color: #bcbcbc;
     --dark-theme-disabled-color: #646464;
     --dark-theme-divider-color: #3c3c3c;
     --text-primary-color: var(--dark-theme-text-color);
     --default-primary-color: var(--primary-color);
 }
html {
    --google-red-100: #f4c7c3;
    --google-red-300: #e67c73;
    --google-red-500: #db4437;
    --google-red-700: #c53929;
    --google-blue-100: #c6dafc;
    --google-blue-300: #7baaf7;
    --google-blue-500: #4285f4;
    --google-blue-700: #3367d6;
    --google-green-100: #b7e1cd;
    --google-green-300: #57bb8a;
    --google-green-500: #0f9d58;
    --google-green-700: #0b8043;
    --google-yellow-100: #fce8b2;
    --google-yellow-300: #f7cb4d;
    --google-yellow-500: #f4b400;
    --google-yellow-700: #f09300;
    --google-grey-100: #f5f5f5;
    --google-grey-300: #e0e0e0;
    --google-grey-500: #9e9e9e;
    --google-grey-700: #616161;
    --paper-red-50: #ffebee;
    --paper-red-100: #ffcdd2;
    --paper-red-200: #ef9a9a;
    --paper-red-300: #e57373;
    --paper-red-400: #ef5350;
    --paper-red-500: #f44336;
    --paper-red-600: #e53935;
    --paper-red-700: #d32f2f;
    --paper-red-800: #c62828;
    --paper-red-900: #b71c1c;
    --paper-red-a100: #ff8a80;
    --paper-red-a200: #ff5252;
    --paper-red-a400: #ff1744;
    --paper-red-a700: #d50000;
    --paper-pink-50: #fce4ec;
    --paper-pink-100: #f8bbd0;
    --paper-pink-200: #f48fb1;
    --paper-pink-300: #f06292;
    --paper-pink-400: #ec407a;
    --paper-pink-500: #e91e63;
    --paper-pink-600: #d81b60;
    --paper-pink-700: #c2185b;
    --paper-pink-800: #ad1457;
    --paper-pink-900: #880e4f;
    --paper-pink-a100: #ff80ab;
    --paper-pink-a200: #ff4081;
    --paper-pink-a400: #f50057;
    --paper-pink-a700: #c51162;
    --paper-purple-50: #f3e5f5;
    --paper-purple-100: #e1bee7;
}
html {
    --layout_-_display: flex;
    --layout-inline_-_display: inline-flex;
    --layout-horizontal_-_display: var(--layout_-_display);
    --layout-horizontal_-_-ms-flex-direction: row;
    --layout-horizontal_-_-webkit-flex-direction: row;
    --layout-horizontal_-_flex-direction: row;
    --layout-horizontal-reverse_-_display: var(--layout_-_display);
    --layout-horizontal-reverse_-_-ms-flex-direction: row-reverse;
    --layout-horizontal-reverse_-_-webkit-flex-direction: row-reverse;
    --layout-horizontal-reverse_-_flex-direction: row-reverse;
    --layout-vertical_-_display: var(--layout_-_display);
    --layout-vertical_-_-ms-flex-direction: column;
    --layout-vertical_-_-webkit-flex-direction: column;
    --layout-vertical_-_flex-direction: column;
    --layout-vertical-reverse_-_display: var(--layout_-_display);
    --layout-vertical-reverse_-_-ms-flex-direction: column-reverse;
    --layout-vertical-reverse_-_-webkit-flex-direction: column-reverse;
    --layout-vertical-reverse_-_flex-direction: column-reverse;
    --layout-wrap_-_-ms-flex-wrap: wrap;
    --layout-wrap_-_-webkit-flex-wrap: wrap;
    --layout-wrap_-_flex-wrap: wrap;
    --layout-wrap-reverse_-_-ms-flex-wrap: wrap-reverse;
    --layout-wrap-reverse_-_-webkit-flex-wrap: wrap-reverse;
    --layout-wrap-reverse_-_flex-wrap: wrap-reverse;
    --layout-flex-auto_-_-ms-flex: 1 1 auto;
    --layout-flex-auto_-_-webkit-flex: 1 1 auto;
    --layout-flex-auto_-_flex: 1 1 auto;
    --layout-flex-none_-_-ms-flex: none;
    --layout-flex-none_-_-webkit-flex: none;
    --layout-flex-none_-_flex: none;
    --layout-flex_-_-ms-flex: 1 1 0.000000001px;
    --layout-flex_-_-webkit-flex: 1;
    --layout-flex_-_flex: 1;
    --layout-flex_-_-webkit-flex-basis: 0.000000001px;
    --layout-flex_-_flex-basis: 0.000000001px;
    --layout-flex-2_-_-ms-flex: 2;
    --layout-flex-2_-_-webkit-flex: 2;
    --layout-flex-2_-_flex: 2;
    --layout-flex-3_-_-ms-flex: 3;
    --layout-flex-3_-_-webkit-flex: 3;
    --layout-flex-3_-_flex: 3;
    --layout-flex-4_-_-ms-flex: 4;
    --layout-flex-4_-_-webkit-flex: 4;
    --layout-flex-4_-_flex: 4;
    --layout-flex-5_-_-ms-flex: 5;
    --layout-flex-5_-_-webkit-flex: 5;
    --layout-flex-5_-_flex: 5;
    --layout-flex-6_-_-ms-flex: 6;
    --layout-flex-6_-_-webkit-flex: 6;
    --layout-flex-6_-_flex: 6;
}
html {
    --colab-run-button-transition-time: 250ms;
}
html {
    --paper-blue-200: #90caf9;
    --paper-blue-400: #42a5f5;
    --paper-blue-500: #2196f3;
    --paper-blue-700: #1976d2;
    --paper-blue-900: #0d47a1;
    --paper-blue-a100: #82b1ff;
    --paper-blue-a200: #448aff;
    --paper-blue-a400: #2979ff;
    --paper-blue-a700: #2962ff;
    --paper-orange-50: #fff3e0;
    --paper-orange-100: #ffe0b2;
    --paper-orange-200: #ffcc80;
    --paper-orange-300: #ffb74d;
    --paper-orange-400: #ffa726;
    --paper-orange-500: #ff9800;
    --paper-orange-700: #f57c00;
    --paper-grey-50: #fafafa;
    --paper-grey-100: #f5f5f5;
    --paper-grey-200: #eeeeee;
    --paper-grey-300: #e0e0e0;
    --paper-grey-400: #bdbdbd;
    --paper-grey-500: #9e9e9e;
    --paper-grey-600: #757575;
    --paper-grey-700: #616161;
    --paper-grey-800: #424242;
    --paper-grey-900: #212121;
    --paper-red-100: #ffcdd2;
    --paper-red-a700: #d50000;
    --paper-green-a700: #00c853;
    --paper-white: #ffffff;
    --google-blue-500: #4285f4;
    --box-shadow-elevation-2dp: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    --box-shadow-elevation-3dp: 0 3px 4px 0 rgba(0,0,0,0.14),0 1px 8px 0 rgba(0,0,0,0.12),0 3px 3px -2px rgba(0,0,0,0.4);
    --paper-font-subhead-font-size: 16px;
    --paper-font-subhead-font-weight: 400;
    --paper-font-subhead-line-height: 24px;
    --paper-font-body1-font-weight: 400;
    --paper-font-body1-line-height: 20px;
}